# Введение
●	target_sum – прогнозируемая переменная (объем оборота POS-транзакций клиента в последующие 3 месяца). Для одного клиента cl_id строим один прогноз.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [18]:
#ser_ts_sum = train[train['trx_category'] == 'POS'][['cl_id', 'target_sum', 'year', 'month']].groupby(by=['cl_id', 'year', 'month']).sum().astype('int64')
#ser_pos_count = train[train['trx_category'] == 'POS'][['cl_id', 'target_sum', 'year', 'month']].groupby(by=['cl_id', 'year', 'month']).count().rename(columns={'target_sum':'count_POS'}).astype('int64')
#ser_notpos_count = train[train['trx_category'] != 'POS'][['cl_id', 'target_sum', 'year', 'month']].groupby(by=['cl_id', 'year', 'month']).count().rename(columns={'target_sum':'count_notPOS'}).astype('int64')
#train = train.drop(axis=1, labels='target_sum').join(ser_ts_sum, on=['cl_id', 'year', 'month'], how='left').join(ser_pos_count, on=['cl_id', 'year', 'month'], how='left').join(ser_notpos_count, on=['cl_id', 'year', 'month'], how='left')


'''
[description]
InsertDataFrame - pandas dataframe
ColumnName - name of transforming column
'''
def MakeDateYearMonth(InsertDataFrame, ColumnName):
    df = InsertDataFrame.copy()
    df[ColumnName] = pd.to_datetime(df[ColumnName], dayfirst=True)
    df['year'] = df[ColumnName].dt.year
    df['month'] = df[ColumnName].dt.month
    return df    

'''
[description]
InsertDataFrame - pandas dataframe
GroupByList - list of column names
TargetColumn - name of one column in dataframe, string
TargetName - name of returning column
'''
def groupbysum(InsertDataFrame, GroupByList, TargetColumn, TargetName):
    df = InsertDataFrame.copy()
    sdtype = df[TargetColumn].dtype
    ser = df.groupby(by=GroupByList).sum().rename(columns={TargetColumn:TargetName}).astype(sdtype)
    return ser
    
'''
[description]
InsertDataFrame - pandas dataframe
GroupByList - list of column names
TargetColumn - name of one column in dataframe, string
TargetName - name of returning column
'''
def groupbycount(InsertDataFrame, GroupByList, TargetColumn, TargetName):
    df = InsertDataFrame.copy()
    ser = df.groupby(by=GroupByList).count().rename(columns={TargetColumn:TargetName}).astype('int64')
    return ser    

'''
[description]
InsertDataFrame - pandas dataframe
SeriesList - list of pandas series
OnJoin - string or list of column name(s)
'''
def DfLeftJoinSer(InsertDataFrame, SeriesList, OnJoin):
    df = InsertDataFrame.copy()
    for i in SeriesList:
        df = df.join(i, on=OnJoin, how='left')
    return df

In [13]:
url_train = 'https://raw.githubusercontent.com/Hitriihoma/Machine-learning-course-task/master/train.csv'
url_test = 'https://raw.githubusercontent.com/Hitriihoma/Machine-learning-course-task/master/test.csv'

#train = pd.read_csv(url_train)
#test = pd.read_csv(url_test)

train = pd.read_csv(r'C:/Course/xsolla/Git/Machine-learning-course-task/train.csv')
test = pd.read_csv(r'C:/Course\xsolla/Git/Machine-learning-course-task/test.csv')

In [14]:
train2 = train.copy()

In [65]:
train = train2.copy()
train.head()

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_sum
0,01/10/2017,0,5200,NaN,810,21OCT17:00:00:00,5023.0,POS,0.0
1,01/10/2017,0,6011,NaN,810,12OCT17:12:24:07,20000.0,DEPOSIT,0.0
2,01/12/2017,0,5921,NaN,810,05DEC17:00:00:00,767.0,POS,0.0
3,01/10/2017,0,5411,NaN,810,21OCT17:00:00:00,2031.0,POS,0.0
4,01/10/2017,0,6012,NaN,810,24OCT17:13:14:24,36562.0,C2C_OUT,0.0

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490513 entries, 0 to 490512
Data columns (total 11 columns):
PERIOD          490513 non-null datetime64[ns]
cl_id           490513 non-null int64
MCC             490513 non-null int64
channel_type    487603 non-null object
currency        490513 non-null int64
TRDATETIME      490513 non-null object
amount          490513 non-null float64
trx_category    490513 non-null object
target_sum      490513 non-null float64
year            490513 non-null int64
month           490513 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(3)
memory usage: 41.2+ MB

# Метрики для модели
год, месяц - сколько берём? надо смотреть сколько есть  
количество POS-транзакций  
количество не-POS-транзакций  
сумма POS-транзакций  
сумма не- POS-транзакций

In [66]:
# Входные сырые данные + колонки
train = MakeDateYearMonth(train, 'PERIOD')
group_list = ['cl_id', 'year', 'month']
ser_ts_sum = train[train[['cl_id', 'target_sum', 'year', 'month']].groupby(by=['cl_id', 'year', 'month']).first().astype('float64')
ser_pos_amount_sum = groupbysum(train[train['trx_category'] == 'POS'][['cl_id', 'amount', 'year', 'month']],
                       group_list,
                       'amount',
                       'sum_pos')
ser_notpos_amount_sum = groupbysum(train[train['trx_category'] != 'POS'][['cl_id', 'amount', 'year', 'month']],
                       group_list,
                       'amount',
                       'sum_notpos')
ser_pos_count = groupbycount(train[train['trx_category'] == 'POS'][['cl_id', 'target_sum', 'year', 'month']],
                       group_list,
                       'target_sum',
                       'count_pos')
ser_notpos_count = groupbycount(train[train['trx_category'] != 'POS'][['cl_id', 'target_sum', 'year', 'month']],
                       group_list,
                       'target_sum',
                       'count_notpos')

train = DfLeftJoinSer(train.drop(axis=1, labels=['PERIOD','MCC', 'channel_type', 'currency', 'TRDATETIME', 'amount', 'trx_category', 'target_sum']).drop_duplicates(),
                      [ser_ts_sum, ser_pos_amount_sum, ser_notpos_amount_sum, ser_pos_count, ser_notpos_count],
                      ['cl_id', 'year', 'month'])
train.head()

,cl_id,year,month,target_sum,sum_pos,sum_notpos,count_pos,count_notpos
0,0,2017,10,0.0,7054.00,56562.0,2.0,2.0
2,0,2017,12,0.0,767.00,NaN,1.0,NaN
5,1,2017,10,0.0,11555.00,NaN,24.0,NaN
9,1,2017,7,0.0,3930.26,50000.0,10.0,1.0
10,1,2017,9,0.0,103285.28,95000.0,60.0,2.0

In [130]:
# Через промедуточный датафрейм
# train_trannsfo
train_tf = pd.DataFrame(columns=['cl_id', 'target_sum'])
for i in train.cl_id.unique():
    train_tf = train_tf.append(train[train['cl_id'] == i][['cl_id', 'target_sum']].iloc[0])
    
for mon in range(1,train.groupby('cl_id').count().month.max()+1): # 14
    train_tf[f'_{mon}_sum_pos'] = np.NaN
    train_tf[f'_{mon}_sum_notpos'] = np.NaN
    train_tf[f'_{mon}_count_pos'] = np.NaN
    train_tf[f'_{mon}_count_notpos'] = np.NaN


#train = train.sort_values(by=['cl_id', 'year', 'month'], ascending=[True, False, False])    
    
train_tf.head()

,cl_id,target_sum,_1_sum_pos,_1_sum_notpos,_1_count_pos,_1_count_notpos,_2_sum_pos,_2_sum_notpos,_2_count_pos,_2_count_notpos,...,_12_count_pos,_12_count_notpos,_13_sum_pos,_13_sum_notpos,_13_count_pos,_13_count_notpos,_14_sum_pos,_14_sum_notpos,_14_count_pos,_14_count_notpos
2,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,5.0,326211.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,9.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,10.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
for ind in train_tf.index[:2]:
    train_tf.loc[ind, '_1_sum_pos'] = 1
train_tf.head()

,cl_id,target_sum,_1_sum_pos,_1_sum_notpos,_1_count_pos,_1_count_notpos,_2_sum_pos,_2_sum_notpos,_2_count_pos,_2_count_notpos,...,_12_count_pos,_12_count_notpos,_13_sum_pos,_13_sum_notpos,_13_count_pos,_13_count_notpos,_14_sum_pos,_14_sum_notpos,_14_count_pos,_14_count_notpos
2,0.0,0.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.0,0.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,5.0,326211.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,9.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,10.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
#train = train.sort_values(by=['cl_id', 'year', 'month'], ascending=[True, False, False]) 
for ind in train_tf.index[:5]:
    mon = 1
    temp_id = 
    for ji in train[train['cl_id'] == i].index:
        up_index = train[train['cl_id'] == i].index[0]
        print(ji, up_index)
        train.iloc[up_index][f'{mon}_sum_pos'] = train.iloc[ji]['sum_pos']
        train.iloc[up_index][f'{mon}_sum_notpos'] = train.iloc[ji]['sum_notpos']
        train.iloc[up_index][f'{mon}_count_pos'] = train.iloc[ji]['count_pos']
        train.iloc[up_index][f'{mon}_count_notpos'] = train.iloc[ji]['count_notpos']
        mon+=1
        
    train_tf.loc[ind,'_1_sum_pos'] = 1

train_tf.head(10)

,cl_id,target_sum,_1_sum_pos,_1_sum_notpos,_1_couunt_pos,_1_count_notpos,_2_sum_pos,_2_sum_notpos,_2_couunt_pos,_2_count_notpos,...,_12_couunt_pos,_12_count_notpos,_13_sum_pos,_13_sum_notpos,_13_couunt_pos,_13_count_notpos,_14_sum_pos,_14_sum_notpos,_14_couunt_pos,_14_count_notpos
2,0.0,0.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.0,0.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,5.0,326211.75,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,9.0,0.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,10.0,0.00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,11.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
970,14.0,187776.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1108,20.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1188,21.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1215,22.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# преобразуем в "последний месяц, предпоследний месяц, предпредпоследний месяц
train = train.sort_values(by=['cl_id', 'year', 'month'], ascending=[True, False, False])
train['1_sum_pos'] = np.NaN
for i in train.cl_id.unique()[0:2]:
    mon = 1
    for ji in train[train['cl_id'] == i].index:
        up_index = train[train['cl_id'] == i].index[0]
        print(ji, up_index)
        train.iloc[up_index][f'{mon}_sum_pos'] = train.iloc[ji]['sum_pos']
        train.iloc[up_index][f'{mon}_sum_notpos'] = train.iloc[ji]['sum_notpos']
        train.iloc[up_index][f'{mon}_count_pos'] = train.iloc[ji]['count_pos']
        train.iloc[up_index][f'{mon}_count_notpos'] = train.iloc[ji]['count_notpos']
        mon+=1
#train.drop(axis=1, labels=['year', 'month, 'sum_pos', 'sum_notpos', 'count_pos', ['count_notpos']).drop_duplicates() 
train

2 2

C:\Games\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Games\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\DNS\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py:1015: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc[key] = value
C:\Games\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Games\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

0 2
5 5
10 5
11 5
9 5

,cl_id,year,month,target_sum,sum_pos,sum_notpos,count_pos,count_notpos,1_sum_pos
2,0,2017,12,0.00,767.00,NaN,1.0,NaN,NaN
0,0,2017,10,0.00,7054.00,56562.00,2.0,2.0,NaN
5,1,2017,10,0.00,11555.00,NaN,24.0,NaN,NaN
10,1,2017,9,0.00,103285.28,95000.00,60.0,2.0,NaN
11,1,2017,8,0.00,3807.50,NaN,7.0,NaN,NaN
9,1,2017,7,0.00,3930.26,50000.00,10.0,1.0,NaN
109,5,2017,6,9786352.50,90924.37,88878.38,30.0,7.0,NaN
114,5,2017,5,9133929.00,30119.90,47500.00,28.0,9.0,NaN
111,5,2017,4,12722258.25,117748.12,93500.00,39.0,12.0,NaN
129,5,2017,3,4566964.50,51708.36,25990.00,14.0,3.0,NaN
253,9,2017,7,0.00,1559.00,250000.00,13.0,3.0,NaN
251,9,2017,6,0.00,2206.09,182500.00,4.0,2.0,NaN
252,9,2017,5,0.00,8600.00,404450.00,12.0,5.0,NaN
290,10,2017,9,0.00,61293.27,43290.00,111.0,12.0,NaN
291,10,2017,8,0.00,95558.52,829747.88,158.0,48.0,NaN
296,10,2017,7,0.00,44104.32,50350.00,105.0,29.0,NaN
758,11,2017,9,0.00,6151.05,NaN,22.0,NaN,NaN
753,11,2017,8,0.00,77543.74,95000.00,88.0,6.0,NaN
754,11,2017,7,0.00,102479.89,87000.00,71.0,4.0,NaN
763,11,2017,6,0.00,59572.46,NaN,26.0,NaN,NaN
970,14,2017,8,5821079.56,31197.08,NaN,31.0,NaN,NaN
971,14,2017,7,11266605.60,72628.55,45700.00,60.0,2.0,NaN
977,14,2017,6,2628874.64,10899.50,144000.00,14.0,2.0,NaN
972,14,2017,5,5069972.52,144265.04,NaN,27.0,NaN,NaN
1108,20,2017,5,0.00,70379.64,60000.00,40.0,1.0,NaN
1106,20,2017,4,0.00,77301.36,80000.00,22.0,1.0,NaN
1112,20,2017,3,0.00,74627.09,75000.00,12.0,1.0,NaN
1188,21,2017,1,0.00,75433.06,47778.00,35.0,5.0,NaN
1186,21,2016,12,0.00,70058.93,20000.00,52.0,2.0,NaN
1183,21,2016,11,0.00,74611.66,51000.00,26.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...
488977,10202,2017,5,338910.00,127094.00,NaN,6.0,NaN,NaN
488985,10203,2017,5,0.00,22262.01,NaN,22.0,NaN,NaN
488980,10203,2017,4,0.00,22880.50,3000.00,18.0,2.0,NaN
488998,10203,2017,3,0.00,82553.14,5621.21,40.0,2.0,NaN
488991,10203,2017,2,0.00,23656.27,20000.00,17.0,1.0,NaN
489089,10206,2017,8,0.00,1876.36,1700.00,1.0,1.0,NaN
490362,10206,2017,7,0.00,768.00,NaN,1.0,NaN,NaN
489006,10206,2017,6,0.00,27882.74,24000.00,25.0,2.0,NaN
489019,10206,2017,5,0.00,3559.59,50000.00,5.0,2.0,NaN
489016,10206,2017,4,NaN,NaN,86000.00,NaN,3.0,NaN
489349,10207,2017,10,974968.05,27832.92,240340.80,35.0,8.0,NaN
489028,10207,2017,9,3788447.28,244205.82,244391.00,136.0,7.0,NaN
489024,10207,2017,8,3008472.84,99869.39,565000.00,108.0,19.0,NaN
489035,10207,2017,7,1169961.66,26633.84,708000.00,42.0,16.0,NaN
489277,10210,2017,1,124051.40,2739.70,NaN,11.0,NaN,NaN
489053,10210,2016,12,563870.00,34744.97,121800.00,50.0,8.0,NaN
489381,10210,2016,11,394709.00,26286.92,47000.00,35.0,3.0,NaN
489556,10210,2016,10,78941.80,6942.00,NaN,7.0,NaN,NaN
489591,10212,2017,7,0.00,80400.00,NaN,2.0,NaN,NaN
489590,10212,2017,6,0.00,103500.00,99000.00,3.0,7.0,NaN
489586,10212,2017,5,0.00,76000.00,NaN,2.0,NaN,NaN
489603,10213,2017,7,0.00,11118.50,NaN,13.0,NaN,NaN
489598,10213,2017,6,0.00,68306.36,71000.00,31.0,3.0,NaN
489597,10213,2017,5,0.00,153737.32,153500.00,11.0,5.0,NaN
489600,10213,2017,4,0.00,103725.40,116000.00,7.0,4.0,NaN
489650,10214,2017,2,0.00,45489.80,NaN,7.0,NaN,NaN
489647,10214,2017,1,0.00,61023.80,NaN,36.0,NaN,NaN
489656,10214,2016,12,0.00,96453.09,NaN,47.0,NaN,NaN
489666,10214,2016,11,0.00,19170.73,NaN,17.0,NaN,NaN
489657,10215,2016,12,0.00,14561.65,50000.00,20.0,4.0,NaN

In [82]:
train_tf = pd.DataFrame(columns=['cl_id', 'target_sum'])
#tdf.columns = train.columns
#tdf.assign(M=np.NaN)
for i in train.cl_id.unique():
    train_tf = train_tf.append(train[train['cl_id'] == i][['cl_id', 'target_sum']].iloc[0])

# Анализ данных
какой месяц для модели текущий  
сколько для каждого клиента известно месяцев

In [25]:
# количество уникальных клиентов
print('number of cl_id', len(train.cl_id.unique()), end='\n\n')
print('count of months \n', train.groupby('cl_id').count().year.value_counts(), end='\n\n')
temp_df = train.groupby('cl_id').last()[['year', 'month', 'target_sum']]
temp_df['ym'] = temp_df.apply(lambda row: str(int(row.year))+'-'+str(int(row.month)), axis=1)
print('last month of target_sum > 1 \n', temp_df[temp_df['target_sum'] > 1].ym.value_counts(), end='\n\n' )
print('last month of target_sum < 1 \n', temp_df[temp_df['target_sum'] < 1].ym.value_counts(), end='\n\n' )

number of cl_id 5000

count of months
 4     2894
3     1297
2      416
1      217
5      120
6       22
7       12
8        8
9        6
10       4
11       3
14       1
Name: year, dtype: int64

last month of target_sum > 1
 2016-12    376
2017-7     334
2017-6     329
2017-4     306
2016-11    280
2017-5     274
2017-3     242
2017-2     231
2016-10    100
2017-1      84
2017-8      64
2017-10     38
2017-9      34
2017-11     27
2018-1      16
2018-2      14
2017-12     12
2018-3       6
Name: ym, dtype: int64

last month of target_sum < 1
 2016-12    410
2016-11    303
2017-4     219
2017-5     203
2017-6     196
2017-2     192
2017-3     191
2017-7     185
2016-10    132
2017-1      69
2017-8      45
2017-9      16
2017-10     16
2017-12     15
2017-11     15
2018-2      11
2018-1       8
2018-3       7
Name: ym, dtype: int64

In [88]:
for mon in range(1,train.groupby('cl_id').count().month.max()+1): # 14
    train_tf.assign('1_sum_pos' = np.NaN)

SyntaxError: keyword can't be an expression (<ipython-input-88-eb6ffc5cccb4>, line 2)

In [176]:
train

,cl_id,year,month,target_sum,pos_sum,notpos_sum,count_pos,count_notpos
0,0,2017,1,0.00,7821.00,56562.00,3.0,2.0
5,1,2017,1,0.00,122578.04,145000.00,101.0,3.0
109,5,2017,1,36209504.25,290500.75,255868.38,111.0,31.0
251,9,2017,1,0.00,12365.09,836950.00,29.0,10.0
290,10,2017,1,0.00,200956.11,923387.88,374.0,89.0
753,11,2017,1,0.00,245747.14,182000.00,207.0,10.0
970,14,2017,1,24786532.32,258990.17,189700.00,132.0,4.0
1106,20,2017,1,0.00,222308.09,215000.00,74.0,3.0
1183,21,2016,1,0.00,144670.59,71000.00,78.0,6.0
1184,22,2017,1,0.00,110267.00,139500.00,45.0,14.0
1188,21,2017,1,0.00,75433.06,47778.00,35.0,5.0
1366,23,2017,1,132192.00,11969.80,188500.00,34.0,17.0
1417,24,2017,1,11345.76,58185.76,55000.00,9.0,2.0
1418,25,2016,1,578.44,10564.00,425000.00,4.0,4.0
1424,25,2017,1,433.83,836.00,1035000.00,3.0,1.0
1440,28,2017,1,4596347.60,94893.49,73600.00,65.0,10.0
1515,29,2017,1,6022094.52,156846.98,152500.00,156.0,6.0
1572,29,2016,1,154412.68,4750.00,20000.00,4.0,1.0
1682,31,2017,1,30141760.00,370187.42,44200.00,88.0,5.0
1685,31,2016,1,3767720.00,22880.34,12600.00,11.0,3.0
1789,32,2017,1,32205648.40,136963.00,96000.00,116.0,17.0
1922,35,2018,1,24465881.25,113313.81,10000.00,75.0,2.0
1924,35,2017,1,38819198.25,177505.09,120265.00,119.0,29.0
2147,38,2016,1,0.00,158784.00,NaN,7.0,NaN
2148,38,2017,1,0.00,85024.00,53000.00,2.0,3.0
2159,39,2017,1,0.00,294725.39,395170.81,66.0,17.0
2242,41,2017,1,3782957.00,181334.35,214800.00,100.0,16.0
2358,42,2017,1,0.00,244584.90,433400.00,197.0,55.0
2610,46,2017,1,0.00,217559.48,227000.00,82.0,20.0
2712,48,2017,1,9951396.84,194836.55,250450.00,84.0,24.0
...,...,...,...,...,...,...,...,...
488241,10169,2017,1,0.00,253331.09,291044.92,51.0,27.0
488248,10170,2017,1,7260.00,145851.00,155000.00,33.0,9.0
488251,10171,2017,1,0.00,189714.82,184900.00,67.0,13.0
488252,10167,2016,1,12338840.80,59863.36,219500.00,44.0,11.0
488265,10175,2017,1,0.00,700.00,1474000.00,3.0,12.0
488270,10176,2017,1,2430.00,3155.00,4930.10,6.0,9.0
488274,10177,2017,1,0.00,159938.85,182500.00,99.0,15.0
488308,10180,2016,1,0.00,71330.00,71500.00,1.0,2.0
488309,10181,2017,1,0.00,192263.10,136379.95,164.0,13.0
488311,10180,2017,1,0.00,213910.00,212600.00,11.0,6.0
488425,10184,2017,1,228924.84,430956.96,523534.85,29.0,17.0
488521,10185,2017,1,3940792.20,150047.55,144130.00,45.0,6.0
488523,10186,2017,1,1608.39,156231.81,151000.00,161.0,8.0
488572,10188,2017,1,17536.00,21432.58,106450.20,8.0,5.0
488583,10190,2017,1,0.00,1620.00,940000.00,1.0,5.0
488585,10192,2016,1,977.70,149678.82,240740.00,15.0,6.0
488587,10192,2017,1,130.36,75062.00,4500.00,2.0,1.0
488588,10193,2017,1,287678.00,144000.00,154000.00,2.0,7.0
488594,10193,2016,1,431517.00,72000.00,NaN,3.0,NaN
488977,10202,2017,1,734305.00,280723.90,100000.00,13.0,1.0
488980,10203,2017,1,0.00,151351.92,28621.21,97.0,5.0
489006,10206,2017,1,0.00,34086.69,161700.00,32.0,8.0
489024,10207,2017,1,8941849.83,398541.97,1757731.80,321.0,50.0
489053,10210,2016,1,1037520.80,67973.89,168800.00,92.0,11.0
489277,10210,2017,1,124051.40,2739.70,NaN,11.0,NaN
489586,10212,2017,1,0.00,259900.00,99000.00,7.0,7.0
489597,10213,2017,1,0.00,336887.58,340500.00,62.0,12.0
489647,10214,2017,1,0.00,106513.60,NaN,43.0,NaN
489656,10214,2016,1,0.00,115623.82,NaN,64.0,NaN
489657,10215,2016,1,0.00,14561.65,50000.00,20.0,4.0

In [112]:
asd = '_1_sum_pos'
mon=1
#train_tf[].assign(asd=np.NaN)
train_tf[f'_{mon}_sum_pos'] = np.NaN
train_tf

          cl_id  target_sum  _1_sum_pos
0           0.0        0.00         NaN
5           1.0        0.00         NaN
109         5.0   326211.75         NaN
251         9.0        0.00         NaN
290        10.0        0.00         NaN
753        11.0        0.00         NaN
970        14.0   187776.76         NaN
1106       20.0        0.00         NaN
1183       21.0        0.00         NaN
1184       22.0        0.00         NaN
1366       23.0     3888.00         NaN
1417       24.0     1260.64         NaN
1418       25.0      144.61         NaN
1440       28.0    70713.04         NaN
1515       29.0    38603.17         NaN
1682       31.0   342520.00         NaN
1789       32.0   277634.90         NaN
1922       35.0   326211.75         NaN
2147       38.0        0.00         NaN
2159       39.0        0.00         NaN
2242       41.0    37829.57         NaN
2358       42.0        0.00         NaN
2610       46.0        0.00         NaN
2712       48.0   118469.01         NaN
2713       49.0        0.00         NaN
2910       50.0    74592.37         NaN
2957       52.0        0.00         NaN
2976       54.0        0.00         NaN
3143       55.0        0.00         NaN
3151       56.0         NaN         NaN
...         ...         ...         ...
488211  10162.0      253.00         NaN
488214  10163.0        0.00         NaN
488217  10164.0    63651.50         NaN
488219  10166.0     3300.00         NaN
488224  10167.0   280428.20         NaN
488234  10168.0        0.00         NaN
488241  10169.0        0.00         NaN
488248  10170.0      220.00         NaN
488251  10171.0        0.00         NaN
488265  10175.0        0.00         NaN
488270  10176.0      405.00         NaN
488274  10177.0        0.00         NaN
488308  10180.0        0.00         NaN
488309  10181.0        0.00         NaN
488425  10184.0     7893.96         NaN
488521  10185.0    87573.16         NaN
488523  10186.0        9.99         NaN
488572  10188.0     2192.00         NaN
488583  10190.0        0.00         NaN
488585  10192.0       65.18         NaN
488588  10193.0   143839.00         NaN
488977  10202.0    56485.00         NaN
488980  10203.0        0.00         NaN
489006  10206.0        0.00         NaN
489024  10207.0    27856.23         NaN
489053  10210.0    11277.40         NaN
489586  10212.0        0.00         NaN
489597  10213.0        0.00         NaN
489647  10214.0        0.00         NaN
489657  10215.0        0.00         NaN

[5000 rows x 3 columns]

In [191]:
'''for i in train.cl_id[10:30]:
    fig = plt.figure()
    x = list()
    y = list()
    temp_df = train[train['cl_id'] == i].reset_index(drop=True)
    for ji in temp_df.index:
        j = temp_df.iloc[ji]
        x.append(str(int(j.year))+ '-' + str(int(j.month)))
        y.append(j.pos_sum + j.notpos_sum)
    x.append('target')
    y.append(j.target_sum)
    print(x,y)
    plt.plot(x,y)
    plt.show()
plt.close('all')  
temp_df'''

"for i in train.cl_id[10:30]:\n    fig = plt.figure()\n    x = list()\n    y = list()\n    temp_df = train[train['cl_id'] == i].reset_index(drop=True)\n    for ji in temp_df.index:\n        j = temp_df.iloc[ji]\n        x.append(str(int(j.year))+ '-' + str(int(j.month)))\n        y.append(j.pos_sum + j.notpos_sum)\n    x.append('target')\n    y.append(j.target_sum)\n    print(x,y)\n    plt.plot(x,y)\n    plt.show()\nplt.close('all')  \ntemp_df"

In [85]:
train_tf

          cl_id  target_sum
0           0.0        0.00
5           1.0        0.00
109         5.0   326211.75
251         9.0        0.00
290        10.0        0.00
753        11.0        0.00
970        14.0   187776.76
1106       20.0        0.00
1183       21.0        0.00
1184       22.0        0.00
1366       23.0     3888.00
1417       24.0     1260.64
1418       25.0      144.61
1440       28.0    70713.04
1515       29.0    38603.17
1682       31.0   342520.00
1789       32.0   277634.90
1922       35.0   326211.75
2147       38.0        0.00
2159       39.0        0.00
2242       41.0    37829.57
2358       42.0        0.00
2610       46.0        0.00
2712       48.0   118469.01
2713       49.0        0.00
2910       50.0    74592.37
2957       52.0        0.00
2976       54.0        0.00
3143       55.0        0.00
3151       56.0         NaN
...         ...         ...
488211  10162.0      253.00
488214  10163.0        0.00
488217  10164.0    63651.50
488219  10166.0     3300.00
488224  10167.0   280428.20
488234  10168.0        0.00
488241  10169.0        0.00
488248  10170.0      220.00
488251  10171.0        0.00
488265  10175.0        0.00
488270  10176.0      405.00
488274  10177.0        0.00
488308  10180.0        0.00
488309  10181.0        0.00
488425  10184.0     7893.96
488521  10185.0    87573.16
488523  10186.0        9.99
488572  10188.0     2192.00
488583  10190.0        0.00
488585  10192.0       65.18
488588  10193.0   143839.00
488977  10202.0    56485.00
488980  10203.0        0.00
489006  10206.0        0.00
489024  10207.0    27856.23
489053  10210.0    11277.40
489586  10212.0        0.00
489597  10213.0        0.00
489647  10214.0        0.00
489657  10215.0        0.00

[5000 rows x 2 columns]

# Нормализация!

In [34]:
train.groupby('cl_id').count().month.max()

14

# Формирование выборки

In [63]:
# Пример формирования тестовой выборки. Возьмем 10 случайных пользвоателей.
users_sample = train['cl_id'].sample(10).values
user_sample_df = train[(train['cl_id'].isin(users_sample))][:]
user_sample_df.head(5)

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,year,month,target_sum,count_POS,count_notPOS
48794,2017-01-04,901,5814,type2,810,29APR17:00:00:00,402.0,POS,2017,1,58147131.81,223.0,17.0
48795,2017-01-04,901,5261,type2,810,15APR17:00:00:00,28490.5,POS,2017,1,58147131.81,223.0,17.0
48799,2017-01-03,901,5921,type2,810,03MAR17:00:00:00,389.0,POS,2017,1,58147131.81,223.0,17.0
48803,2017-01-04,901,5814,type2,810,14APR17:00:00:00,99.0,POS,2017,1,58147131.81,223.0,17.0
48804,2017-01-04,901,5921,type2,810,20APR17:00:00:00,385.0,POS,2017,1,58147131.81,223.0,17.0

In [64]:
# Для данных пользователей необходимо спрогнозировать рассчитанную величину'target_sum'.
user_sample_df[['cl_id','target_sum']].drop_duplicates()

        cl_id   target_sum
48794     901  58147131.81
74524    1339   7079905.92
74617    1339   2876211.78
99591    1813    921600.00
134218   2414   2637756.90
152544   2715  48508409.67
261930   4977         0.00
352786   7082         0.00
359055   7213         0.00
404364   8274    151400.62
433974   8923  16678725.14