In [2]:
import pandas as pd

In [4]:
url_train = 'https://raw.githubusercontent.com/Hitriihoma/Machine-learning-course-task/master/train.csv'
url_test = 'https://raw.githubusercontent.com/Hitriihoma/Machine-learning-course-task/master/test.csv'

train = pd.read_csv(url_train)
test = pd.read_csv(url_test)

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490513 entries, 0 to 490512
Data columns (total 9 columns):
PERIOD          490513 non-null object
cl_id           490513 non-null int64
MCC             490513 non-null int64
channel_type    487603 non-null object
currency        490513 non-null int64
TRDATETIME      490513 non-null object
amount          490513 non-null float64
trx_category    490513 non-null object
target_sum      490513 non-null float64
dtypes: float64(2), int64(3), object(4)
memory usage: 33.7+ MB

In [35]:
# Входные сырые данные
ser_ts = train[train['trx_category'] == 'POS'][['cl_id', 'target_sum']].groupby(by='cl_id').sum().target_sum
train.drop(axis=1, labels='target_sum').join(ser_ts, on='cl_id', how='left')

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_sum
0,01/10/2017,0,5200,NaN,810,21OCT17:00:00:00,5023.00,POS,0.00
1,01/10/2017,0,6011,NaN,810,12OCT17:12:24:07,20000.00,DEPOSIT,0.00
2,01/12/2017,0,5921,NaN,810,05DEC17:00:00:00,767.00,POS,0.00
3,01/10/2017,0,5411,NaN,810,21OCT17:00:00:00,2031.00,POS,0.00
4,01/10/2017,0,6012,NaN,810,24OCT17:13:14:24,36562.00,C2C_OUT,0.00
5,01/10/2017,1,5814,NaN,810,16OCT17:00:00:00,380.00,POS,0.00
6,01/10/2017,1,5814,NaN,810,10OCT17:00:00:00,378.00,POS,0.00
7,01/10/2017,1,5814,NaN,810,16OCT17:00:00:00,199.00,POS,0.00
8,01/10/2017,1,5814,NaN,810,11OCT17:00:00:00,400.00,POS,0.00
9,01/07/2017,1,5411,NaN,810,26JUL17:00:00:00,598.00,POS,0.00
10,01/09/2017,1,4111,NaN,978,30SEP17:00:00:00,17.10,POS,0.00
11,01/08/2017,1,5814,NaN,810,02AUG17:00:00:00,450.00,POS,0.00
12,01/10/2017,1,5812,NaN,978,01OCT17:00:00:00,21.00,POS,0.00
13,01/07/2017,1,5814,NaN,810,31JUL17:00:00:00,720.00,POS,0.00
14,01/10/2017,1,5814,NaN,810,08OCT17:00:00:00,5988.80,POS,0.00
15,01/10/2017,1,5812,NaN,810,14OCT17:00:00:00,636.00,POS,0.00
16,01/09/2017,1,5661,NaN,810,16SEP17:00:00:00,2392.00,POS,0.00
17,01/09/2017,1,5814,NaN,810,21SEP17:00:00:00,350.00,POS,0.00
18,01/07/2017,1,5814,NaN,810,24JUL17:00:00:00,300.00,POS,0.00
19,01/09/2017,1,5411,NaN,978,26SEP17:00:00:00,32.73,POS,0.00
20,01/09/2017,1,5814,NaN,810,19SEP17:00:00:00,350.00,POS,0.00
21,01/09/2017,1,7996,NaN,810,27SEP17:00:00:00,679.66,POS,0.00
22,01/09/2017,1,5814,NaN,810,20SEP17:00:00:00,247.50,POS,0.00
23,01/09/2017,1,5812,NaN,978,27SEP17:00:00:00,34.10,POS,0.00
24,01/08/2017,1,5814,NaN,810,15AUG17:00:00:00,288.00,POS,0.00
25,01/10/2017,1,5812,NaN,978,03OCT17:00:00:00,83.90,POS,0.00
26,01/09/2017,1,5947,NaN,978,28SEP17:00:00:00,17.50,POS,0.00
27,01/10/2017,1,5812,NaN,978,02OCT17:00:00:00,7.00,POS,0.00
28,01/09/2017,1,5814,NaN,810,06SEP17:00:00:00,325.00,POS,0.00
29,01/10/2017,1,5812,NaN,978,02OCT17:00:00:00,18.00,POS,0.00
...,...,...,...,...,...,...,...,...,...
490483,01/11/2016,10192,5999,type1,810,23NOV16:09:01:53,10.00,POS,1108.06
490484,01/01/2017,10192,5999,type1,810,06JAN17:00:00:00,14900.00,POS,1108.06
490485,01/07/2017,10186,6012,type1,810,19JUL17:11:29:38,50000.00,C2C_IN,1608.39
490486,01/07/2017,10186,5411,type1,810,20JUL17:00:00:00,338.00,POS,1608.39
490487,01/07/2017,10186,5977,type1,810,20JUL17:00:00:00,3000.00,POS,1608.39
490488,01/07/2017,10186,5411,type1,810,21JUL17:00:00:00,80.00,POS,1608.39
490489,01/04/2017,10190,6011,type1,810,27APR17:15:06:57,200000.00,WD_ATM_ROS,0.00
490490,01/07/2017,10186,6012,type1,810,06JUL17:00:00:00,10000.00,C2C_IN,1608.39
490491,01/07/2017,10186,5411,type1,810,14JUL17:00:00:00,979.00,POS,1608.39
490492,01/06/2017,10188,4112,type1,810,01JUN17:00:00:00,4218.20,POS,17536.00
490493,01/07/2017,10186,5411,type1,810,18JUL17:00:00:00,226.00,POS,1608.39
490494,01/08/2017,10186,5499,type1,810,05AUG17:00:00:00,49.00,POS,1608.39
490495,01/02/2017,10167,5261,type1,810,23FEB17:00:00:00,1365.00,POS,41503373.60
490496,01/07/2017,10186,7832,type1,810,28JUL17:00:00:00,400.00,POS,1608.39
490497,01/07/2017,10186,5499,type1,810,25JUL17:00:00:00,2510.00,POS,1608.39
490498,01/06/2017,10188,5541,type1,810,04JUN17:00:00:00,1017.15,POS,17536.00
490499,01/07/2017,10186,4121,type1,810,22JUL17:00:00:00,1.45,POS,1608.39
490500,01/08/2017,10186,5912,type1,810,22AUG17:00:00:00,485.00,POS,1608.39
490501,01/04/2017,10190,6011,type1,810,26APR17:19:48:31,195000.00,WD_ATM_ROS,0.00
490502,01/08/2017,10186,5411,type1,810,23AUG17:00:00:00,327.00,POS,1608.39
490503,01/08/2017,10186,5814,type1,810,20AUG17:00:00:00,150.00,POS,1608.39
490504,01/05/2017,10188,6011,type1,810,27MAY17:14:00:09,35000.00,DEPOSIT,17536.00
490505,01/07/2017,10186,5411,type1,810,19JUL17:00:00:00,2580.00,POS,1608.39
490506,01/08/2017,10186,6012,type1,810,13AUG17:14:39:01,5000.00,C2C_IN,1608.39
490507,01/09/2017,10186,5411,type1,810,25SEP17:00:00:00,200.00,POS,1608.39
490508,01/04/2017,10176,6011,type1,810,24APR17:14:05:26,600.00,WD_ATM_ROS,2430.00
490509,01/06/2017,10171,5411,type1,810,06JUN17:00:00:00,132.00,POS,0.00
490510,01/02/2017,10167,5541,type1,810,03FEB17:00:00:00,1000.00,POS,41503373.60
490511,01/06/2017,10163,5941,type1,810,08JUN17:00:00:00,100.00,POS,0.00
490512,01/06/2017,10162,5411,type1,810,15JUN17:00:00:00,441.33,POS,31625.00

In [30]:
ser_ts

cl_id
0               0.00
1               0.00
5        36209504.25
9               0.00
10              0.00
11              0.00
14       24786532.32
20              0.00
21              0.00
22              0.00
23         132192.00
24          11345.76
25           1012.27
28        4596347.60
29        6176507.20
31       33909480.00
32       32205648.40
35       63285079.50
38              0.00
39              0.00
41        3782957.00
42              0.00
46              0.00
48        9951396.84
49              0.00
50        3132879.54
52              0.00
54              0.00
55              0.00
56          55140.00
            ...
10162       31625.00
10163           0.00
10164       63651.50
10166      221100.00
10167    41503373.60
10168           0.00
10169           0.00
10170        7260.00
10171           0.00
10175           0.00
10176        2430.00
10177           0.00
10180           0.00
10181           0.00
10184      228924.84
10185     3940792.20
10186        1608.39
10188       17536.00
10190           0.00
10192        1108.06
10193      719195.00
10202      734305.00
10203           0.00
10206           0.00
10207     8941849.83
10210     1161572.20
10212           0.00
10213           0.00
10214           0.00
10215           0.00
Name: target_sum, Length: 5000, dtype: float64

In [6]:
# Пример формирования тестовой выборки. Возьмем 10 случайных пользвоателей.
users_sample = train['cl_id'].sample(10).values
user_sample_df = train[(train['cl_id'].isin(users_sample))][:]
user_sample_df.head(5)

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_sum
28542,01/01/2017,531,5921,type2,810,10JAN17:00:00:00,149.95,POS,96818.56
28578,01/01/2017,531,5812,type2,810,09JAN17:00:00:00,140.00,POS,96818.56
28622,01/02/2017,531,5411,type2,810,20FEB17:00:00:00,699.00,POS,96818.56
28624,01/02/2017,531,5411,type2,810,24FEB17:00:00:00,441.07,POS,96818.56
28626,01/01/2017,531,7832,type2,810,05JAN17:00:00:00,340.00,POS,96818.56

In [7]:
# Для данных пользователей необходимо спрогнозировать рассчитанную величину'target_sum'.
user_sample_df[['cl_id','target_sum']].drop_duplicates()

        cl_id  target_sum
28542     531    96818.56
57891    1079      400.00
60870    1139   123997.16
115091   2093    40863.83
305152   5982        0.00
339007   6756        0.00
348224   6978        0.00
399113   8141        0.00
399871   8147        0.00
449508   9284        0.00